.custom-checkbox {
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 8px;
  font-family: 'Orbitron', sans-serif; /* o la fuente que uses */
  font-size: 14px;
  color: #1e3a8a;
  user-select: none;
  margin-bottom: 15px;
}

.custom-checkbox input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border: 2px solid #5b6aff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.custom-checkbox input[type="checkbox"]:checked {
  background-color: #5b6aff;
  box-shadow: 0 0 4px #5b6aff88;
}

.custom-checkbox input[type="checkbox"]::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 10px;
  border: solid rgb(237, 229, 229);
  border-width: 0 2px 2px 0;
  top: 1px;
  left: 5px;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.custom-checkbox input[type="checkbox"]:checked::after {
  opacity: 1;
}



.dark .custom-checkbox {
  color: #ffffff;
}


.dark .custom-checkbox input[type="checkbox"] {
  background-color: #0d0d2b;
}

