.overlay {
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 2rem 6rem;
    box-shadow: 0 0 20px rgba(180, 100, 255, 0.3);
    text-align: center;
}

.game-title {
    font-size: 4rem;
    margin-bottom: 300px;
    color: #61cafb;
    text-shadow: 0 0 4px #47abd9;
    font-family: "Oxanium", sans-serif;
    width: 500px;
    margin-top: 0;
    text-shadow: 0 1px 3px rgba(255, 255, 255, 0.8);
}

.welcome-title {
    font-size: 2.8rem;
    color: #61cafb;
    font-family: "Oxanium", sans-serif;
    letter-spacing: 2px;
    margin-bottom: 0;
    text-shadow: 0 1px 3px rgba(255, 255, 255, 0.8);
}

.start-button {
    color:  #a952e3;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 2.5rem;
    border: 1.5px solid #a952e3;
    border-radius: 10px;
    cursor: pointer;
    outline: 1px solid #a952e35a;
    outline-offset: 4px;
    box-shadow: 0 0 0 0.7px #a952e3;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
}
  
.start-button:hover {
    box-shadow: 0 0 20px #b100ff, 0 0 40px #9e00ff;
    transform: scale(1.05);
}
  


  