@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Base styles */
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  transition: background-color 0.3s ease, color 0.3s ease;
}